<div class="tim-title">
  <h3>Hot Takes!</h3>
</div>
<div class="row">
  <div class="column">
    <img
      id="suggestionimg1"
      src="https://m.media-amazon.com/images/M/MV5BOTkzZjZiOWItZGM5Ny00N2IxLTg4ZTQtYTBiODhlNmRlM2IxXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg"
      alt="Kaguya-sama-Love-is-War"
      style="height: 50%; width: 20%; padding: 0px"
    />
  </div>
  <div class="column">
    <div class="row">
      <h4 style="text-align: left; font-weight: bold">
        Kaguya-sama wa Kokurasetai?: Tensai-tachi no Renai Zunousen
      </h4>
    </div>
    <div class="row">
      <h5 style="text-align: inherit; font-style: normal; font-weight: bolder">
        &nbsp;Category: Comedy, Romance
      </h5>
    </div>
    <div class="row">
      <h5 style="text-align: inherit; font-style: normal; font-weight: bolder">
        &nbsp;Mean Score: 8.66
      </h5>
    </div>
    <div class="row">
      <p style="text-align: inherit; font-style: normal">
        After a slow but eventful summer vacation, Shuchiin Academy's second
        term is now starting in full force. As August transitions into
        September, Miyuki Shirogane's birthday looms ever closer, leaving Kaguya
        Shinomiya in a serious predicament as to how to celebrate it.
        Furthermore, the tenure of the school's 67th student council is coming
        to an end.
      </p>
    </div>
  </div>
</div>
