<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Visualization</h2>
        </div>
        <div class="col-lg-8" style="margin: auto;">
            <h4>Diversity Rating</h4>
            <ngb-progressbar type="info" class="h6 mt-0" [value]="75" [striped]="true" [animated]="true" ><i>75%</i></ngb-progressbar><br>
            <h4>Experience Rating</h4>
            <ngb-progressbar type="info" class="h6 mt-0" [value]="25" [striped]="true" [animated]="true"><i>25%</i></ngb-progressbar><br>
        </div>
        
    </div>
</div>