<div class="section" id="carousel">
  <div class="container">
    <div class="tim-title">
      <h2 style="font-weight: bold">Try Something New</h2>
    </div>
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <div class="column">
                <img
                  id="suggestionimg1"
                  src="https://m.media-amazon.com/images/M/MV5BOTkzZjZiOWItZGM5Ny00N2IxLTg4ZTQtYTBiODhlNmRlM2IxXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg"
                  alt="Kaguya-sama-Love-is-War"
                  style="height: 50; width: 95%"
                />
              </div>
              <div class="column" style="text-align: center">
                <h4 style="text-align: center; font-weight: bold">
                  Kaguya-sama wa Kokurasetai?: Tensai-tachi no Renai Zunousen
                </h4>
              </div>
              <div class="column">
                <h5
                  style="
                    text-align: inherit;
                    font-style: normal;
                    font-weight: bolder;
                  "
                >
                  &nbsp;Category: Comedy, Romance
                </h5>
              </div>
              <div class="column">
                <h5
                  style="
                    text-align: inherit;
                    font-style: normal;
                    font-weight: bolder;
                  "
                >
                  &nbsp;Mean Score: 8.66
                </h5>
              </div>
              <div class="column">
                <p style="text-align: inherit; font-style: normal">
                  After a slow but eventful summer vacation, Shuchiin Academy's
                  second term is now starting in full force. As August
                  transitions into September, Miyuki Shirogane's birthday looms
                  ever closer, leaving Kaguya Shinomiya in a serious predicament
                  as to how to celebrate it. Furthermore, the tenure of the
                  school's 67th student council is coming to an end.
                </p>
              </div>
              <div class="column">
                <button type="button" class="btn btn-danger btn-round">
                  Add to MAL
                </button>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="column">
                <img
                  id="suggestionimg1"
                  src="https://cdn.myanimelist.net/images/anime/1958/107912.jpg"
                  alt="Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_Kan"
                  style="height: 50; width: 95%"
                />
              </div>
              <div class="column" style="text-align: center">
                <h4 style="text-align: center; font-weight: bold">
                  Yahari Ore no Seishun Love Comedy wa Machigatteiru
                </h4>
              </div>
              <div class="column">
                <h5
                  style="
                    text-align: inherit;
                    font-style: normal;
                    font-weight: bolder;
                  "
                >
                  Category: Comedy, Drama, Romance, Slice of Life
                </h5>
              </div>
              <div class="column">
                <h5
                  style="
                    text-align: inherit;
                    font-style: normal;
                    font-weight: bolder;
                  "
                >
                  Mean Score: 8.24
                </h5>
              </div>
              <div class="column">
                <p
                  style="
                    text-align: inherit;
                    font-style: normal;
                    margin-inline-start: 10;
                  "
                >
                  Yahari Ore no Seishun Love Comedy wa Machigatteiru. Zoku picks
                  up immediately after the events of the first season,
                  continuing the adventures of the Volunteer Service Club—the
                  dispassionate Hachiman Hikigaya, the cheerful Yui Yuigahama,
                  and the competitive Yukino Yukinoshita—as it dedicates itself
                  to helping any student with issues that they may face.
                </p>
              </div>
              <div class="column">
                <button type="button" class="btn btn-danger btn-round">
                  Add to MAL
                </button>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="column">
                <img
                  id="suggestionimg1"
                  src="https://cdn.myanimelist.net/images/anime/1958/107912.jpg"
                  alt="Yahari_Ore_no_Seishun_Love_Come_wa_Machigatteiru_Kan"
                  style="height: 50; width: 95%"
                />
              </div>
              <div class="column" style="text-align: center">
                <h4 style="text-align: center; font-weight: bold">Toradora!</h4>
              </div>
              <div class="column">
                <h5
                  style="
                    text-align: inherit;
                    font-style: normal;
                    font-weight: bolder;
                  "
                >
                  Category: Comedy, Romance, Slice of Life
                </h5>
              </div>
              <div class="column">
                <h5
                  style="
                    text-align: inherit;
                    font-style: normal;
                    font-weight: bolder;
                  "
                >
                  Mean Score: 8.15
                </h5>
              </div>
              <div class="column">
                <p
                  style="
                    text-align: inherit;
                    font-style: normal;
                    margin-inline-start: 10;
                  "
                >
                  Ryuuji Takasu is a gentle high school student with a love for
                  housework; but in contrast to his kind nature, he has an
                  intimidating face that often gets him labeled as a delinquent.
                  On the other hand is Taiga Aisaka, a small, doll-like student,
                  who is anything but a cute and fragile girl.
                </p>
              </div>
              <div class="column">
                <button type="button" class="btn btn-danger btn-round">
                  Add to MAL
                </button>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
