<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/anime.jpeg')"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Anime Wrapped</h3>
            <form class="register-form">
              <a
                href="http://localhost:3000/login"
                class="btn btn-block btn-link btn-round"
                >Log in with MAL</a
              >
            </form>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6>&copy;{{ test | date: "yyyy" }}, made using MAL API</h6>
      </div>
    </div>
  </div>
</div>
