<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-nav pull-left">
        Made using
        <a href="https://myanimelist.net/apiconfig/references/api/v2"
          >MAL API V2</a
        >
      </div>
      <div class="credits ml-auto">
        <span class="copyright">
          <a href="https://github.com/Vigneshsreedhar2002/AnimeAnalytics">
            <i class="fa fa-github"></i>
          </a>
          © 2021
        </span>
      </div>
    </div>
  </div>
</footer>
