<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Your Profile</h2>
        </div>
        <div id="main-card" class="card card-statistics">
            <div class="row">
                <div class="column">
                    <img src="./assets/img/DemoPFP.png" alt="Avatar">
                    <h4 style="text-align: center;">koolcherry21</h4>
                </div>
                <div class="column">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <th>Watching</th>
                                <th>Completed</th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>3</td>
                                <td>36</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <th>On-Hold</th>
                                <th>Plan-To-Watch</th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>1</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <th>Anime Age</th>
                                <th>Popularity</th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>1.2</td>
                                <td>26</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <th>Days Watched</th>
                                <th>Episodes</th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>30.5</td>
                                <td>1,837</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <th>Your Mean Rating</th>
                                <th>Consensus Rating</th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>~</td>
                                <td>~</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
