img {
    border-radius: 30px;
    border: 4px solid orange;
    width: 225px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.column {
    float: left;
    width: 33.33%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
table {
    width: 100%;
    border: 4px solid black;
    border-radius: 30px;
}
tr:nth-child(2), tr:nth-child(4), tr:nth-child(6) {
    font-size: 50px;
    font-weight: 900;
}
.answer {
    font-size: large;
}
h4 {
    font-size: 50px;
}